* {
    font-family: Tahoma;
    margin: auto;
}

#baner1 {
    background-color: #7DA453;
    color: white;
    height: 120px;
    width: 40%;
    float: left;
}

#baner2 {
    background-color: #7DA453;
    color: white;
    height: 120px;
    width: 40%;
    float: left;
}

#baner3 {
    background-color: #7DA453;
    color: white;
    height: 120px;
    width: 20%;
    float: left;
}

#glowny {
    clear: both;
}

#blok_kalendarza {
    background-color: #AED581;
    width: 200px;
    height: 100px;
    margin: 7px;
    border-width: 1px;
    border-style: solid;
    border-color: #7DA453;
    float: left;
}

#blok_kalendarza:hover {
    background-color: #7DA453;
    color: white;
}

#stopka {
    background-color: #7DA453;
    color: white;
    padding: 5px;
    clear: both;
}

h5 {
    text-align: center;
}

form {
    padding-top: 50px;
}